<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hwadee.IOTS_SCS.mapper.CourseMapper">
    <select id="getAllCoursesByStatus" resultType="com.hwadee.IOTS_SCS.entity.DTO.response.CourseSimpleDTO">
        SELECT course_id, course_name, users.name AS teacher_name FROM courses, users
        WHERE
            teacher_id=uid AND
            users.role='teacher' AND
            course_id in (
                SELECT course_id FROM student_course
                WHERE
                    student_id=#{uid} AND
                    `status`=#{status}
            );
    </select>

    <select id="getAllCourses" resultType="com.hwadee.IOTS_SCS.entity.DTO.response.CourseSimpleDTO">
        SELECT course_id, course_name, users.name AS teacher_name FROM courses, users
        WHERE
            teacher_id=uid AND
            users.role='teacher' AND
            course_id in (
                SELECT course_id FROM student_course
                WHERE
                    student_id=#{uid}
            );
    </select>

    <select id="getCourseInfo" resultType="com.hwadee.IOTS_SCS.entity.DTO.response.CourseInfoDTO">
        select
            course_name,
            status,
            name AS teacher_name,
            start_date,
            end_date,
            total_lessons,
            credit,
            description,
            cover_image_url
            from courses, student_course, users
            WHERE
                courses.teacher_id=users.uid AND
                courses.course_id=student_course.course_id AND courses.course_id=#{courseId} AND
                student_course.student_id=#{uid};
    </select>

    <select id="getCourseLessons" resultType="com.hwadee.IOTS_SCS.entity.POJO.Lesson">
        select * from lessons
                WHERE course_id=#{courseId};
    </select>

    <select id="getCourseLessonInfo" resultType="com.hwadee.IOTS_SCS.entity.POJO.Lesson">
        select * from lessons
                WHERE lesson_id=#{lesson_id};
    </select>

    <update id="completeLesson" parameterType="String">
        update student_lesson SET
                                is_completed='1'
                            WHERE
                                lesson_id=#{leesonId} AND
                                student_id=#{uid};
    </update>

    <insert id="courseSelect" parameterType="String">
        INSERT INTO student_course (student_id, course_id, progress, last_updated_at)
            VALUES(#{uid}, #{courseId}, 0, null);
    </insert>

    <insert id="addStudentLesson" parameterType="com.hwadee.IOTS_SCS.entity.POJO.Lesson">
        INSERT INTO student_lesson (student_id, lesson_id, is_completed, view_seconds, last_accessed_at)
            VALUES(#{uid}, #{lessonId}, 0, 0, null);
    </insert>

    <insert id="courseProgress">
        INSERT INTO student_course_progress (student_id, course_id, total_lessons, completed_lessons, progress, created_at)
            VALUES (#{uid}, #{courseId}, #{totalLessons}, 0, 0, #{createdAt});
    </insert>

    <update id="updateProgress" useGeneratedKeys="true" keyProperty="progress">
        UPDATE student_course_progress SET
                                        completed_lessons=completed_lessons + 1 ,
                                        progress=(completed_lessons*100)/total_lessons
                                    WHERE
                                        student_id=#{uid} AND
                                        course_id=#{courseId};
    </update>

    <update id="updateVideoProgress">
        UPDATE student_lesson SET
                                view_seconds=#{currentTime}
                            WHERE
                                student_id=#{uid} AND
                                lesson_id=#{lessonId};
    </update>


    <select id="selectEnrollment" resultType="com.hwadee.IOTS_SCS.entity.POJO.Enrollment">
        SELECT * FROM student_course
        WHERE
            student_id=#{uid} AND
            DATE(`date`) >= #{fromTime};
    </select>

    <select id="selectProgress" resultType="com.hwadee.IOTS_SCS.entity.POJO.Progress">
        SELECT * FROM student_course_progress
        WHERE
            student_id=#{uid} AND
            DATE(`date`) >= #{fromTime};
    </select>
    
    <select id="getCourseProgress" resultType="com.hwadee.IOTS_SCS.entity.DTO.response.ProgressDTO">
        SELECT completed_lessons ,progress , last_accessed_lesson_id FROM student_course AS C, student_course_progress AS P
            WHERE
                C.student_id=P.student_id AND C.student_id=#{uid} AND
                C.course_id=P.course_id;
    </select>

    <select id="getCourseName" resultType="String">
        SELECT course_name FROM courses WHERE course_id=#{courseId};
    </select>

    <select id="getRes" resultType="com.hwadee.IOTS_SCS.entity.DTO.response.LessonResDTO">
        SELECT lesson_id, lesson_title, resource_type, file_id, allow_download FROM lessons
        WHERE course_id=#{courseId};
    </select>

    <select id="getVideo" resultType="com.hwadee.IOTS_SCS.entity.DTO.response.LessonVideoDTO">
        SELECT video_file_id FROM lessons
        WHERE course_id=#{courseId};
    </select>
</mapper>