<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hwadee.IOTS_SCS.mapper.EvaluationMapper">
    <select id="selectEnrollment" resultType="com.hwadee.IOTS_SCS.entity.POJO.Enrollment">
        SELECT * FROM student_course
                            WHERE
                                student_id=#{uid} AND
                                DATE(`date`) >= #{fromTime};
    </select>

    <select id="selectProgress" resultType="com.hwadee.IOTS_SCS.entity.POJO.Progress">
        SELECT * FROM student_course_progress
                            WHERE
                                student_id=#{uid} AND
                                DATE(`date`) >= #{fromTime};
    </select>
</mapper>