<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hwadee.IOTS_SCS.mapper.LogMapper">
    <insert id="insert" parameterType="com.hwadee.IOTS_SCS.entity.POJO.ApiAccessLog">
        INSERT INTO activity_logs (user_id, ip, uri, method, query, duration_ms, status_code, user_agent, created_at)
        VALUES(#{userId}, #{ip}, #{uri}, #{method}, #{query}, #{durationMs}, #{statusCode}, #{userAgent}, #{createdAt});
    </insert>

    <select id="getUidLogs" resultType="com.hwadee.IOTS_SCS.entity.DTO.response.LogDTO">
        SELECT user_id, ip, uri, created_at FROM activity_logs
            WHERE
                user_id=#{uid} AND
                created_at BETWEEN #{start} and #{end} ;
    </select>

</mapper>