<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hwadee.IOTS_SCS.mapper.MessageMapper">
    <!-- 插入消息 -->
    <insert id="insert" parameterType="com.hwadee.IOTS_SCS.entity.POJO.Message" useGeneratedKeys="true" keyProperty="msgId">
    INSERT INTO message (
    conversation_id,
    sender_id,
    receiver_id,
    type,
    content,
    send_time,
    is_read
    ) VALUES (
    #{conversationId},
    #{senderId},
    #{receiverId},
    #{type, typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
    #{content},
    #{sendTime},
    #{isRead}
    )
    </insert>

    <!-- 根据会话ID删除消息 -->
    <delete id="deleteByConversationId" parameterType="java.lang.Long">
        DELETE FROM message
        WHERE conversation_id = #{conversationId}
    </delete>

    <!-- 根据会话ID查询消息历史 -->
    <select id="findByConversationId" parameterType="java.lang.Long" resultType="com.hwadee.IOTS_SCS.entity.POJO.Message">
        SELECT
        msg_id,
        conversation_id,
        sender_id,
        receiver_id,
        type,
        content,
        send_time,
        is_read
        FROM message
        WHERE conversation_id = #{conversationId}
        ORDER BY send_time ASC
    </select>

    <!--标记为已读-->
    <update id="markAsRead">
        UPDATE message
        SET is_read = 1
        WHERE conversation_id = #{conversationId}
        AND receiver_id = #{currentUserId}
        AND is_read = 0
    </update>

    <!--未读消息数量-->
    <select id="countUnreadMessages" resultType="int">
        SELECT COUNT(*) FROM message
        WHERE conversation_id = #{conversationId}
        AND receiver_id = #{userId}
        AND is_read = 0
    </select>
</mapper>

