<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwadee.IOTS_SCS.mapper.NoteMapper">

    <resultMap id="BaseResultMap" type="com.hwadee.IOTS_SCS.entity.POJO.Note">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="course_id" jdbcType="VARCHAR" property="courseId"/>
        <result column="lesson_id" jdbcType="VARCHAR" property="lessonId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, course_id, lesson_id, title, content, create_time, update_time
    </sql>

    <select id="selectNotes" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM note
        <where>
            <if test="courseId != null and courseId != ''">
                AND course_id = #{courseId}
            </if>
            <if test="lessonId != null and lessonId != ''">
                AND lesson_id = #{lessonId}
            </if>
        </where>
    </select>

    <select id="selectById" parameterType="String" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM note WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.hwadee.IOTS_SCS.entity.POJO.Note" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO note (
            course_id,
            lesson_id,
            title,
            content,
            create_time,
            update_time
        ) VALUES (
                     #{courseId},
                     #{lessonId},
                     #{title},
                     #{content},
                     #{createTime},
                     #{updateTime}
                 )
    </insert>

    <update id="update" parameterType="com.hwadee.IOTS_SCS.entity.POJO.Note">
        UPDATE note
        SET
            title = #{title},
            content = #{content},
            update_time = #{updateTime}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="String">
        DELETE FROM note WHERE id = #{id}
    </delete>

</mapper>