<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hwadee.IOTS_SCS.mapper.NoticeMapper">
    <!-- 插入通知主表数据 -->
    <insert id="insert" parameterType="com.hwadee.IOTS_SCS.entity.POJO.Notice" useGeneratedKeys="true" keyProperty="noticeId">
        INSERT INTO notice (
        course_id,
        user_id,
        notice_title,
        notice_content,
        notice_time,
        receiver_ids
        ) VALUES (
        #{courseId},
        #{userId},
        #{noticeTitle},
        #{noticeContent},
        #{noticeTime},
        #{receiverIds,typeHandler=com.hwadee.IOTS_SCS.util.StringListTypeHandler}
        )
    </insert>

    <!-- 根据用户ID获取已发送通知列表 -->
    <select id="getNoticeListByUserId" resultType="com.hwadee.IOTS_SCS.entity.POJO.Notice" parameterType="java.lang.Long">
        SELECT notice_id,
        course_id,
        user_id,
        notice_title,
        notice_content,
        notice_time,
        is_send,
        receiver_ids,
        read_user_ids
        FROM notice
        WHERE #{userId} in (receiver_ids)
        AND is_send = true
        ORDER BY notice_time DESC
    </select>

    <!-- 根据通知ID获取单个已发送通知 -->
    <select id="getNoticeById" resultType="com.hwadee.IOTS_SCS.entity.POJO.Notice" parameterType="java.lang.Long">
        SELECT
        n.notice_id,
        n.course_id,
        n.user_id,
        n.notice_title,
        n.notice_content,
        n.notice_time,
        n.is_send,
        n.receiver_ids,
        n.read_user_ids
        FROM notice n
        WHERE n.notice_id = #{noticeId}
        AND n.is_send = true
    </select>

    <!-- 更新通知 -->
    <update id="update" parameterType="com.hwadee.IOTS_SCS.entity.POJO.Notice">
        <!-- 更新主表 -->
        UPDATE notice SET
        is_send = #{isSend},
        read_user_ids = #{readUserIds}
        WHERE notice_id = #{noticeId};
    </update>

    <!-- 根据发送状态获取通知列表 -->
    <select id="getNoticeListByIsSend" resultType="com.hwadee.IOTS_SCS.entity.POJO.Notice" parameterType="java.lang.Character">
        SELECT
        notice_id,
        course_id,
        user_id,
        notice_title,
        notice_content,
        notice_time,
        is_send,
        receiver_ids,
        read_user_ids
        FROM notice
        WHERE is_send = #{isSend}
        ORDER BY notice_time DESC
    </select>

</mapper>

